<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script>
    var polymerLoaded = function() {
      console.log('Polymer carregado');
      // register an element
      MyElement = Polymer({

        is: 'my-element',

        properties: {
          someProp: String // no notify:true!
        },

        // See below for lifecycle callbacks
        created: function() {
          this.textContent = 'My element';
        }

      });
      var el = new MyElement();
      console.log(el);
    };

    var polymerLoadError = function() {
      console.log('polymerLoadError ocurred');
    };
  </script>
  <script src="../rxjsdom-import/rxjsdom-util.js"></script>
  <script src="../immutable-import/immutable-util.js"></script>
  <script src="../webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="../polymer/polymer.html" onload="polymerLoaded()" onerror="polymerLoadError()">
  <link rel="import" href="../iron-ajax/iron-ajax.html">
  <!-- link rel="import" href="../gh-issues/gh-issues.html"  -->
  <link rel="import" href="../iron-list/iron-list.html">
  <link rel="import" href="../iron-component-page/iron-component-page.html">
  <!-- link rel="import" href="../pdf-canvas/pdf-canvas.html" -->
  <link rel="import" href="../rxjsdom-import/rxjsdom-import.html">
  <link rel="import" href="../immutable-import/immutable-import.html">
  <!-- link rel="import" href="../gravatar-photo/gravatar-photo.html"  -->
  <script src="../time-elements/time-elements.js"></script>

  <link rel="stylesheet" href="rxjsdom/timeflies.css">
  <style>
    #results {
      height: 300px;
    }
  </style>
</head>
<body unresolved>
  <!-- https://www.youtube.com/watch?v=k1eR_3KqJms&list=PLOU2XLYxmsII5c3Mgw6fNYCzaWrsM3sMN&index=7 -->
  <dom-module id="gh-issues">
    <template>
      <style>
        :host {
          display: block;
          box-sizing: border-box;
        }
      </style>
      <iron-ajax
        auto
        url="{{url}}"
        handle-as="json"
        params="{{options}}"
        last-response="{{response}}"></iron-ajax>
        <div>Issues Github</div>
        <template is="dom-repeat" items="{{response}}">
          <div>
            <span style="color: red;">{{computedIndex(index)}}</span>
            <a href="{{item.html_url}}">{{item.title}}</a>
          </div>
        </template>
    </template>

    <script>
      HTMLImports.whenReady(function () {
        Polymer({

          is: 'gh-issues',

          properties: {
            owner: {
              value: 'joao-parana',
              notify: true
            },
            repo: {
              value: 'tomcat-xe-ubuntu',
              notify: true
            },
            state: {
              value: 'open',
              notify: true
            },
            page: {
              value: 1,
              notify: true
            },
            url: {
              computed: 'computeUrl(owner, repo)'
            },
            options: {
              computed: 'computeOptions(state, page)'
            }
          },

          computeUrl: function(owner, repo) {
            return ['https://api.github.com/repos', owner, repo, 'issues'].join('/');
          },

          computeOptions: function(state, page) {
            return {state: state, page: page};
          },

          computedIndex: function(idx) {
            console.log(typeof(idx));
            if (typeof(idx) === 'string') {
              return '' + (parseInt(idx, 10) + 1);
            } else {
              return idx + 1;
            }
          }
        });
      });
    </script>
  </dom-module>
  <div>
    <template is="dom-bind">
      <gh-issues owner="{{owner}}" repo="{{repo}}"
                 state="{{state}}" page="{{page}}"></gh-issues>

      <input type="text" value="{{owner::change}}">
      <input type="text" value="{{repo::change}}">
      <input type="text" value="{{state::change}}">
      <input type="text" value="{{page::change}}">
    </template>
  </div>
  <dom-module id="index-seq">
    <template>
      <span></span>
    </template>
    <script>
      HTMLImports.whenReady(function () {
        Polymer({
          is: 'index-seq',
          properties: {
            someProp: String // no notify:true!
          }
        });
      })
    </script>
  </dom-module>

  <!-- changes to "value" propagate downward to "someProp" on child -->
  <!-- changes to "someProp" are not notified to host due to notify:falsey -->

  <dom-module id="x-custom">
    <template>
      <div>My id is <span>{{computedIndex(indice)}}</span> and my address is <span>{{addrMsg(msg)}}</span></div>
    </template>
    <script>
      HTMLImports.whenReady(function () {
        Polymer({
          is: 'x-custom',
          myindex: 1,
          properties: {
            indice: Number,
            msg: Object
          },
          ready: function() {
            // console.log(this.myindex);
            // console.log(this.attributes.getNamedItem('indice').value);
            console.log(this.indice);
          },
          computedIndex: function(idx) {
            console.log('typeof(idx) = ' + typeof(idx));
            if (typeof(idx) === 'string') {
              return '' + (parseInt(idx, 10) + 1);
            } else {
              return idx + 1;
            }
          },
          addrMsg: function(item){
            return item.address + ", " +item.city + " - " + item.state +
                    ", e-mail: " + item.email + ", phone: " + item.phone;
          }
        });
      });
    </script>
  </dom-module>

  <template is="dom-bind">
    <hr>
    Minha Outra Lista
    <hr>
    <!-- url="https://raw.githubusercontent.com/PolymerElements/iron-list/master/demo/data/contacts.json" -->
    <iron-ajax
        url="data/contacts.json"
        last-response="{{myOtherContactsData}}"
        handle-as="json"
        auto>
    </iron-ajax>
    <template is="dom-repeat" items="{{myOtherContactsData}}">
      <x-custom indice="{{index}}" msg="{{item}}"></x-custom>
      <div><span>{{item.first}}</span> <span>{{item.last}}</span></div>
    </template>
  </template>

  <!-- Outra abordagem  -->
  <template id="mylist" is="dom-bind">
    <hr>
    Minha Lista
    <hr>
    <!-- Assim funciona: https://api.github.com/repos/joao-parana/tomcat-xe-ubuntu/issues  -->
    <!-- https://bitbucket.org/somaelements/do-tests/raw/ba4b1ab7a6b120a0bd245de1b7f2a55a86f03642/data/contacts.json -->
    <iron-ajax
        url="data/contacts.json"
        last-response="{{myContactsData}}"
        handle-as="json"
        auto>
    </iron-ajax>
    <template is="dom-repeat" items="{{myContactsData}}">
      <div>
        &nbsp; <span>{{computedIndex(index)}}</span> &nbsp;
        <span>{{item.first}}</span> <span>{{item.last}}</span>
        <span> :
          <time is="relative-time" datetime="{{getDateObject(item.date)}}"></time> ->
          <time is="time-ago" datetime="{{getDateObject(item.date)}}"></time>
        </span>
        DATA: <span>{{getDateObject(item.date)}}</span>
        TIME AGO DATE: <span>{{getTimeAgoFromDateString(item.date)}}</span>
      </div>
      <!-- index-seq some-prop="{{index}}"></index-seq -->
    </template>
  </template>

  <script>
    var myTemplate = document.querySelector('#mylist');
    // console.log(myTemplate);
    myTemplate.computedIndex = function (index) {
      // console.log('typeof(index) = ' + typeof(index));
      return index + 1;
    };
    myTemplate.getDateObject = function (date) {
      // console.log('typeof(date) = ' + typeof(date)); // String
      var millis = Date.parse(date);
      // console.log('typeof(millis) = ' + typeof(millis)); // Number
      // console.log(millis);
      var d = new Date(millis);
      console.log(d.toISOString());
      return d.toISOString(); // String
    };
    myTemplate.getTimeAgoFromDateString = function (dateString) {
      var dateISOString = (new Date(Date.parse(dateString))).toISOString();
      var timeAgoElement = new window.TimeAgoElement();
      timeAgoElement.setAttribute('datetime', dateISOString);
      console.log(timeAgoElement);
      return timeAgoElement.getFormattedDate();
    };
  </script>

  <!-- Note: if the main element for this repository doesn't
       match the folder name, add a src="&lt;main-component&gt;.html" attribute,
       where &lt;main-component&gt;.html" is a file that imports all of the
       components you want documented. -->
  <!-- iron-component-page></iron-component-page  -->
  <!-- pdf-canvas></pdf-canvas  -->

  <!-- template is="dom-bind">
    <iron-ajax url="data/contacts.json" last-response="{{data}}" auto></iron-ajax>
    <div>
      <iron-list items="[[data]]" as="item">
        <template>
          <div>
            <div class="item">
              <!-- img class="avatar" src="[[item.image]]">
              <div class="pad">
                <div style="color: red">[[item.index]]</div>
                <div class="primary">[[item.name]]</div>
                <div class="secondary">[[item.shortText]]</div>
              </div>
            </div>
          </div>
        </template>
      </iron-list>
    </div>
  </template  -->

  <immutable-import></immutable-import>
  <rxjsdom-import></rxjsdom-import>

  <script>
    ensureImmutableIsReady(function () {
        var map1;
        console.log('••• Criando objeto Map de Immutable');
        map1 = Immutable.Map({ a: 1, b: 2, c: 3 });
        var map2 = map1.set('b', 50);
        console.log('••• map1.get("b") = ' + map1.get('b')); // 2
        console.log('••• map2.get("b") = ' + map2.get('b')); // 50
      }
    );
  </script>

  <!-- default size is 200 -->
  <gravatar-photo email="joao.parana@gmail.com" size="100"></gravatar-photo>
  <script>console.log('••• Iniciando autocomplete');</script>
  <input id="textInput" type="text"></input>
  <ul id="results"></ul>
  <script src="rxjsdom/autocomplete.js"></script>

  <script>console.log('••• Iniciando timeflies');</script>
  <div id="textContainer"></div>
  <div id="mycontainer">
    <div class="page-header">
      <h1>Time Flies Example</h1>
      <p class="lead">Example to show effects with delaying each character</p>
    </div>
  </div>
  <script src="rxjsdom/timeflies.js"></script>
</body>
</html>
